{% extends 'base.html' %}
{% block content %}

<div class="text-center">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p><strong>Assigned to:</strong> {{ task.assigned_to }}</p>
    <p><strong>Status:</strong> {{ task.status }}</p>
    <div class="d-flex justify-content-center gap-2 mt-3">
        <a href="{% url 'task_update' task.pk %}" class="btn btn-warning px-4">Edit</a>
        <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger px-4">Delete</a>
        <a href="{% url 'project_detail' task.project.pk %}" class="btn btn-success px-4">Back</a>
    </div>
</div>

{% endblock %}
